.contact_me_container{
    padding-bottom: 10%;
}
.contact-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.contact_me_header{
    text-align: center;
    color: #b6dfef;
}
.social-media-icon{
    width: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

