.info-container{
    padding-top: 5%;
    padding-bottom: 5%;
}
ul li.one, li.two {
    display: inline;
    text-align: center;
}

.tab  {
    display: inline-block;
    width: 50%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: white;
}
.tab:hover {
    color: white;
    font-weight: bold;
}

.two:hover ~ hr {
    margin-left: 50%;
}



hr {
    height: 1rem;
    width: 50%;
    margin: 0;
    background: limegreen;
    border: none;
    transition: .3s ease-in-out;
}
.infotext{
    color: white;
    display: none;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.display{
    display: block !important;
    animation: fade-in 1s;
}

ul li {
    list-style-type: none;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}