#techstack-container{
    padding-top: 50px;
}
#techstack-header{
    text-align: center;
    font-weight: bold;
    color: #7ed1ea;
    padding-bottom: 10px;
}
#aboutme-header{
    font-weight: bold;
    color: #7ed1ea;
}
#aboutme-info{
    color: white;
}
.tech-cat{
    color: #b6dfef;
}
#stack-items{
    color: #dde2e2;
}
#stack-items h3{
    text-align: center;
}
#stack-items .row{
    padding-top: 20px;
    padding-bottom: 20px;
}
#stack-items .col-sm-3, #stack-items .col-sm-4 {
    text-align: center;
    padding-bottom: 20px;
}

.icon{
    height: 64px;
}
.animate-icon{
    animation: popup 1.5s;
}
.icon:hover{
    animation: rubberBand 1s;
    animation-fill-mode: both;
    cursor: pointer;
}
#bs-icon{
    filter: invert(1);
    background-color: #d7d3cb;
}
.icon-false{
    height: 64px;
}

.icon-true{
    height: 64px;
    animation: rubberBand 1s;
    animation-fill-mode: both;

}
.Test{
    opacity: 0;
    transition: 0.5s;
}

.icon-true:hover + .Test{
    opacity: 1;
}


@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}