#techstack-container{
    margin-top: 50px;
}
#techstack-header{
    text-align: center;
    font-weight: bold;
    color: #7ed1ea;
    padding-bottom: 10px;
}
#stack-items{
    color: #dde2e2;
}
#stack-items h3{
    text-align: center;
}
#stack-items .row{
    padding-top: 20px;
    padding-bottom: 20px;
}
#stack-items .col-sm-3, #stack-items .col-sm-4 {
    text-align: center;
    padding-bottom: 20px;
}

.icon{
    height: 64px;
}
.animate-icon{
    animation: popup 1.5s;
}
.icon:hover{
    animation: popup 1s;
    cursor: pointer;
}
#bs-icon{
    filter: invert(1);
    background-color: #d7d3cb;
}

@keyframes popup {
    0%{transform: translateY(0px); opacity: 0;}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px); opacity: 1}
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}