*{
  background-color: #282c34;

}
.navbar{
  display: inline;
  color: white;
  list-style-type: none;
  width: 100%;
  padding: 10%;
}
.navbar li{
  margin-right: 10px;
  display: inline;
}
.navbar a{
  color: white;
  text-decoration: none;
  transition: color 0.4s;
}
.navbar a:hover{
  color: #00daff;
}
.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 100px 10% 0% 10%;
}
p{
  font-size:20px;
  margin: 0 !important;
}
#title{
  font-size: 60px;
  /*transition: opacity 250ms ease-in, transform 400ms ease-in;*/
  margin: 0 !important;
}
#subtitle{
  font-size: 60px;
  margin: 0 !important;
  color: #7b8189;
}
#title-box{
  animation: fadein 2s;
  margin: 0 !important;
  color: lightgray;
}

.banner-area{
  background-color: #282c34;
  color: white;
  padding: 0% 10% 10% 10%;

}
@keyframes fadein {
  from {
    transform: translateY(100%);
    opacity: 0
  }
  to {
    transform: translateY(0);
    opacity: 1
  }
}




